<mat-card>
  <div class="products-grid">


    <mat-grid-list rowHeight="1.5:1" gutterSize='15px' [cols]="breakpoint" (window:resize)="onResize($event)"  >
      <ng-container *ngFor="let productDto of products">
        <mat-grid-tile>
          {{ productDto.productName}}
          {{ productDto.id}}
        </mat-grid-tile>
      </ng-container>
    </mat-grid-list>
    <mat-paginator [length]="totalCount"
                   [pageSize]="paginationService.pageCount"
                   [pageSizeOptions]="paginationService.selectItemsPerPage"
                   (page)="onPageSwitch.emit($event)">
    </mat-paginator>
  </div>
</mat-card>
