<div class="products-grid" style="margin-left:10px;margin-right:10px;">
  <mat-grid-list rowHeight="1:1" gutterSize='15px' [cols]="breakpoint" (window:resize)="onResize($event)">
    <ng-container *ngFor="let productDto of products">
      <mat-grid-tile routerLink="/products/{{productDto.id}}">
        {{ productDto.productName}}
        {{ productDto.id}}
        <img *ngIf="productDto.images.length" src="https://localhost:5001/resources/images/{{productDto.images[0].path}}"/>
      </mat-grid-tile>
    </ng-container>
  </mat-grid-list>
  <mat-paginator [length]="totalCount"
                  [pageSize]="paginationService.pageSize"
                  [pageSizeOptions]="paginationService.getDefaultPageSize"
                  (page)="switchPage($event)">
  </mat-paginator>
</div>
