<div class="grid">
<div class="col-1 md:col-2 lg:col-3"></div>
<div class="col-10 md:col-8 lg:col-6">
<mat-card style="margin-top:10px;">
<b>Fortrydelsesret:</b><br>
Der gives 14 dages fuld returret på alle varer, som du har købt på hjemmesiden eller på lives ,medmindre andet er aftalt, eller fremgår af din ordre.<br><br>
Disse 14 dage starter fra den dag, hvor din ordre er blevet leveret til dig.Dette gælder dog ikke for dem som samler.<br>
Eventuelle returneringsomkostninger afholdes af kunden.<br>
Ved returnering af køb fra lives, her vedlægger man en seddel med navn , dato for køb samt priser for det returnerede<br><br>
Et evt. ønske om fortrydelse SKAL altid meddeles til os senest 14 efter leveringen, og være os i hænde seneste 14 dage efter vi er informeret om din ibrugtagning af fortrydelsesretten. Vedlæg altid en note med navn og ordrenr. når du sender din vare til os , og send så en bekræftelse til kontakt@rudsfashion.dk<br><br>
NB! Vi forbeholder os retten til ikke at modtage uforsikrede pakker, eller pakker sendt per efterkrav eller “Uden Omdeling”!<br><br>
Returadressen er:<br><br>
Ruds Fashion Univers<br>
Nørrevænget 14<br>
6710 Esbjerg v<br><br>
Vælger du at nægte modtagelsen af din pakke, eller skulle undlade at hente denne hos pakkeshoppen fordi du har fortrudt dit køb, skal du selv sørge for at kontakte os via mail, og gøre opmærksom på, at du ønsker at gøre brug af din fortrydelsesret. Hvis du nægter modtagelse af pakken, er det dog stadig dit ansvar, at vi får pakken retur indenfor returretten.<br><br>
<b>VARENS STAND VED RETURNERING:</b><br>
Du hæfter kun for en mulig værdiforringelse, såfremt varen tydeligt er taget yderligere i brug end det der kræves for at fastslå varens brug og egenskaber. Det vil sige, at du kan prøve varen på samme måde, som du kan i en fysisk butik. Al brug herudover betyder, at varen anses for brugt, og du vil derfor kun blive erstattet en del, eller intet tilbage af købsbeløbet. For at varen anses for ubrugt, skal varen returneres i væsentlig samme stand, som da du modtog den. Varer skal returneres med intakte mærker, mærkater, poser og skoæsker.<br><br>
Såfremt mærker er blevet fjernet, eller varen er taget yderligere i brug end at være prøvet på, anses den for at være brugt. Det samme er gældende, hvis varer, der returneres, lugter af røg, parfume eller har spor af kosmetik.<br><br>
Tilbagebetaling sker hurtigst muligt, og senest 14 dage efter, at vi har modtaget din besked om, at du har fortrudt dit køb. Vi kan dog tilbageholde returbeløbet, indtil varen er modtaget retur medmindre du har fremsendt dokumentation for at varen er returneret.
</mat-card>
</div>
</div>