<p-overlayPanel #searchOverlay>
  <ng-template pTemplate>
    <mat-form-field class="searchField">
      <mat-label>Søg</mat-label>
      <input (keydown.enter)="searchFx()" matInput type="text" [(ngModel)]="search">
      <button *ngIf="search" matSuffix mat-icon-button aria-label="Clear" (click)="searchFx()">
        <mat-icon>arrow_right_alt</mat-icon>
      </button>
    </mat-form-field>
  </ng-template>
</p-overlayPanel>
<mat-toolbar color="primary">
  <span>
    <a routerLink="" class="hidden lg:inline-flex xl:inline-flex">Ruds Fashion</a>
    <a routerLink="" class="lg:hidden xl:hidden">RF</a>
  </span>
  <div class="hidden lg:inline-flex xl:inline-flex"><button mat-button [matMenuTriggerFor]="menu" class="my-full-width-menu">Kategorier</button></div>
  <div class="lg:hidden xl:hidden"><button mat-button [matMenuTriggerFor]="menu" class="my-full-width-menu"><mat-icon>reorder</mat-icon></button></div>
  <mat-menu class="megamenu" #menu="matMenu">
    <h2>Kategorier</h2>
    <button mat-menu-item class="megamenu-item" *ngFor="let category of categories" routerLink="/category/{{category.id}}">{{category.name}}</button>
  </mat-menu>
  <div class="hidden md:inline-flex lg:inline-flex xl:inline-flex">
    <mat-form-field class="searchField">
      <mat-label>Søg</mat-label>
      <input (keydown.enter)="searchFx()" matInput type="text" [(ngModel)]="search">
      <button *ngIf="search" matSuffix mat-icon-button aria-label="Clear" (click)="search=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <button class="md:hidden lg:hidden xl:hidden" (click)="searchOverlay.toggle($event)" mat-button><span class="material-icons">search</span></button>
  <span class="example-spacer"></span>
  <div *ngIf="this.appComponent.profile$ | async as profile else loggedOut" style="float: right">
    <button mat-button *ngIf="profile.permissions.includes('Admin')||profile.permissions.includes('CanManageProducts')||profile.permissions.includes('CanManageColors')||profile.permissions.includes('CanManageSizes')||profile.permissions.includes('CanManageCategories')" routerLink="/admin" matTooltip="Admin" class="float-right"><mat-icon style="color:white;">admin_panel_settings</mat-icon></button>
    <button mat-button routerLink="/account" matTooltip="Min konto" class="float-right"><mat-icon style="color:white;">manage_accounts</mat-icon></button>
    <button mat-button (click)="this.appComponent.logout()" matTooltip="Log ud" class="float-right"><mat-icon style="color:white;">logout</mat-icon></button>
  </div>
  <ng-template #loggedOut>
    <div style="float: right">
      <button mat-menu-item
        routerLink="/auth/login" ><mat-icon style="color:white;">login</mat-icon></button>
    </div>
  </ng-template>
  <button routerLink="/cart" mat-button><span matBadge="{{cartAmount()}}" matTooltip="Kurv" class="material-icons">shopping_basket</span></button>
</mat-toolbar>
<p-breadcrumb [model]="this.menuService.breadcrumb"></p-breadcrumb>