<mat-toolbar color="primary">
  <span><a routerLink="">Ruds Fashion</a></span>
  <button mat-button [matMenuTriggerFor]="menu" class="my-full-width-menu">Kategorier</button>
  <mat-menu class="megamenu" #menu="matMenu">
    <h2>Kategorier</h2>
    <button mat-menu-item class="megamenu-item" *ngFor="let category of categories" routerLink="/category/{{category.id}}">{{category.name}}</button>
  </mat-menu>
  <span class="example-spacer"></span>
  <mat-form-field class="searchField" appearance="fill">
    <mat-label>Søg</mat-label>
    <input (keydown.enter)="search()" matInput type="text" [(ngModel)]="searchString">
    <button *ngIf="searchString" matSuffix mat-icon-button aria-label="Clear" (click)="searchString=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div *ngIf="this.appComponent.profile$ | async as profile else loggedOut" style="float: right">
    <span class="ost">Welcome {{profile.name}}</span>
    <button mat-menu-item style="margin-left:15px"
      (click)="this.appComponent.logout()"
      class="float-right">Logout</button>
  </div>
  <ng-template #loggedOut>
    <div style="float: right">
      <button mat-menu-item style="margin-left:15px"
        routerLink="/auth/login" >Login</button>
    </div>
  </ng-template>
  <button routerLink="/cart" mat-button><span matBadge="{{cartAmount()}}" class="material-icons">shopping_basket</span></button>
</mat-toolbar>
<p-breadcrumb [model]="this.menuService.breadcrumb"></p-breadcrumb>