<app-admin-template>
  <div *ngIf="product">
    <div class="grid">
      <div class="col-12 lg:col-4 p-fluid">

    <h2>{{product.productName | uppercase}} Detaljer <p-chip label="ID: {{product.id}}"></p-chip> </h2>
    <mat-form-field style="display:block;" appearance="fill">
      <mat-label>Kategorier</mat-label>
      <mat-select [(ngModel)]="product.categories" [formControl]="categories_" multiple [compareWith]="compareWithFunc">
        <mat-option *ngFor="let category of categories" [value]="category" >{{category.name}}</mat-option>
        <p-button (click)="createSize()">Ny kategori</p-button>
      </mat-select>
    </mat-form-field>
      <span class="p-float-label" style="margin-bottom:15px;">
        <input id="float-input" type="text" pInputText [(ngModel)]="product.productName">
        <label for="float-input">Produkt navn</label>
      </span>
      <span class="p-float-label" style="margin-bottom:15px;">
        <input id="float-input" type="text" pInputText [(ngModel)]="product.productPrice">
        <label for="float-input">Pris</label>
      </span>
      <span class="p-float-label" style="margin-bottom:15px;">
        <input id="float-input" type="text" pInputText [(ngModel)]="product.productDiscountPrice">
        <label for="float-input">Tilbuds pris</label>
      </span>


    <p-editor [(ngModel)]="product.productDescription" placeholder="Produkt beskrivelse..." [formats]="editoropts" [style]="{'height':'320px'}">

      <ng-template pTemplate="header">
        <span class="ql-formats">
            <select class="ql-size">
              <!-- Note a missing, thus falsy value, is used to reset to default -->
              <option selected></option>
              <option value="large"></option>
              <option value="huge"></option>
            </select>
            <button type="button" class="ql-bold" aria-label="Bold"></button>
            <button type="button" class="ql-italic" aria-label="Italic"></button>
            <button type="button" class="ql-underline" aria-label="Underline"></button>
            <button type="button" class="ql-strike" aria-label="Strikethrough"></button>
        </span>
    </ng-template>

    </p-editor>


    <div class="p-field-checkbox">
      <p-checkbox [binary]="true" [(ngModel)]="product.productFeatured" inputId="check"></p-checkbox>
      <label for="check">Udvalgt produkt</label>
    </div>
    </div> <div class="col-12 lg:col-6">
      <div style="margin-top:15px;">
        <p-tabView>
          <p-tabPanel header="Billeder">
            <div class="grid">
              <div class="col-6 md:col-4 lg:col-4" *ngFor="let image of product.images">
                <img style="width:100%;" src="{{serverUrl}}resources/images/{{image.path}}">
              </div>
            </div>
            <p-button (click)="createSize()">Nyt billed</p-button>
          </p-tabPanel>
          <p-tabPanel header="Farver">
            <p-table [value]="product.colors" responsiveLayout="scroll">
              <ng-template pTemplate="header">
                  <tr>
                      <th>Name</th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-category>
                  <tr>
                      <td>{{category.title}}</td>
                  </tr>
              </ng-template>
            </p-table>
            <p-button (click)="createColor(product)">Ny farve</p-button>
          </p-tabPanel>
          <p-tabPanel header="Størrelser">
            <p-table [value]="product.sizes" responsiveLayout="scroll">
              <ng-template pTemplate="header">
                  <tr>
                      <th>Name</th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-category>
                  <tr>
                      <td>{{category.title}}</td>
                  </tr>
              </ng-template>
            </p-table>
            <p-button (click)="createSize()">Ny størrelse</p-button>
          </p-tabPanel>
          <p-tabPanel header="Inventar">
            <p-button (click)="createSize()">Ny inventar kombination</p-button>
          </p-tabPanel>
        </p-tabView>
        <!--
      <mat-form-field style="display:block;" appearance="fill">
        <mat-label>Edit colors</mat-label>
        <mat-select [(ngModel)]="product.colors" [formControl]="colors_" multiple [compareWith]="compareWithFunc">
          <mat-option *ngFor="let color of colors" [value]="color" >{{color.title}}</mat-option>
          <p-button (click)="createSize()">Ny farve</p-button>
        </mat-select>
      </mat-form-field>
      <mat-form-field style="display:block;" appearance="fill">
        <mat-label>Edit sizes</mat-label>
        <mat-select [(ngModel)]="product.sizes" [formControl]="sizes_" multiple [compareWith]="compareWithFunc">
          <mat-option *ngFor="let size of sizes" [value]="size" >{{size.title}}</mat-option>
          <div class="p-fluid"><p-button (click)="createSize()">Ny størrelse</p-button></div>
        </mat-select>
      </mat-form-field>-->
    </div>
      </div><div class="col-12 md:col-4 lg:col-2">
        <div style="padding-top:10px;">
          <div class="p-fluid"><p-button (click)="update()">Opdater</p-button></div>
          <button mat-button (click)="goBack()" color="primary">Tilbage</button>
        </div>
      </div>
    </div>
  </div>
</app-admin-template>
<p-toast [style]="{'white-space': 'pre-line'}"></p-toast>
