<mat-card>
  <form [formGroup]="loginForm" (ngSubmit)="register()">

    <div>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput id="email" type="text" formControlName="email">
      </mat-form-field>

      <div *ngIf="email && email.invalid && (email.dirty && email.touched)"
           class="alert alert-danger">

        <div class="text-information" *ngIf="email.errors?.required">
          E-mailadressen er ugyldig.
        </div>
      </div>
    </div>

    <div>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput id="password" type="password" formControlName="password">
      </mat-form-field>

      <div *ngIf="password && password.invalid && (password.dirty || password.touched)"
           class="alert alert-danger">

        <div class="text-information" *ngIf="password.errors?.required">
          Kodeordet er ikke komplekst nok.
        </div>
      </div>
    </div>

    <button mat-raised-button color="primary" type="submit"
            [disabled]="!loginForm.valid">Register
    </button>
    <div class="error-message" *ngIf="errorMessage">
      {{errorMessage}}

    </div>
  </form>
</mat-card>
