<app-admin-template>
  <p-panel header="Farver">
    <p-table [columns]="cols" [value]="cats" responsiveLayout="scroll">
      <ng-template pTemplate="header" let-columns>
          <tr>
              <th *ngFor="let col of columns">
                {{col.header}}
              </th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr routerLink="/admin/colors/{{rowData['id']}}">
              <td *ngFor="let col of columns">
                <div *ngIf="col.field=='products' else otherDiv">
                  {{rowData[col.field].length}}
                </div>
                <ng-template #otherDiv>
                  {{rowData[col.field]}}
                </ng-template>
                <div *ngIf="col.field=='id'" style="width:20px;height:20px;float:right;border:1px solid black;" [ngStyle]="{'background':rowData['colorString']}"></div>
              </td>
          </tr>
      </ng-template>
    </p-table>
  </p-panel>
</app-admin-template>