<app-admin-template>
<p-panel header="Produkter">
  <p-table [columns]="cols" [value]="products" responsiveLayout="scroll">
    <ng-template pTemplate="caption">
        <div class="p-d-flex p-ai-center p-jc-between">
            <div style="font-size:36px; display:inline-block;">Produkter</div>
            <p-button label="Lav nyt produkt" icon="pi pi-plus" styleClass="p-button-sm" [style]="{float: 'right'}" routerLink="/admin/products/create"></p-button>
        </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr routerLink="products/{{rowData['id']}}">
            <td *ngFor="let col of columns">
                {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
  </p-table>
</p-panel>
</app-admin-template>