<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<app-menu></app-menu>
<router-outlet></router-outlet>
<div style="width:100%;height:200px; background:#3f51b5;margin-top:50px; color:white;display:flex; text-align:center;padding-top:25px;padding-bottom:10px;">
  <div style="flex-grow:1">
    <h4>HJÆLP</h4>

    <div><button mat-button>Se mere</button></div>
    <div><button mat-button>Se mere</button></div>
    <div><button mat-button>Se mere</button></div>
  </div>
  <div style="flex-grow:1">
    <h4>INFORMATION</h4>
    <div><button mat-button>Fragt og levering</button></div>
    <div><button mat-button>Om Ruds Fashion</button></div>
    <div><button mat-button>Handelsbetingelser</button></div>
  </div>
  <div style="flex-grow:1">
    <h4>KONTAKT</h4>
    <div><button mat-button>Se mere</button></div>
    <div><button mat-button>Se mere</button></div>
    <div><button mat-button>Se mere</button></div>
  </div>
</div>