<div class="grid">
  <div class="col-12 md:col-6 md:col-offset-2 lg:col-4 lg:col-offset-3">
    <mat-stepper orientation="vertical" [linear]="false" #stepper>
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Login</ng-template>
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" formControlName="firstCtrl">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Adgangskode</mat-label>
            <input matInput placeholder="Adgangskode" formControlName="firstCtrl">
          </mat-form-field>
          <div>
            <button mat-raised-button matStepperNext>Login</button>
            <button mat-button matStepperNext>Fortsæt som gæst</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="userManagementForm">
          <ng-template matStepLabel>Kundeinformation</ng-template>
          <mat-form-field disabled appearance="outline">
            <mat-label>Fornavn</mat-label>
            <input id="firstName" formControlName="firstName" matInput placeholder="Placeholder">
          </mat-form-field>
          <mat-form-field disabled appearance="outline">
            <mat-label>Efternavn</mat-label>
            <input id="lastName" formControlName="lastName" matInput placeholder="Placeholder" >
          </mat-form-field>
          <mat-form-field disabled appearance="outline" >
            <mat-label>Email</mat-label>
            <input id="email" formControlName="email" matInput placeholder="Placeholder" >
          </mat-form-field>
          <mat-form-field disabled appearance="outline">
            <mat-label>Gade og husnummer</mat-label>
            <input id="streetAndNumber" formControlName="streetAndNumber" matInput placeholder="Placeholder">
          </mat-form-field>
          <mat-form-field disabled appearance="outline">
            <mat-label>Postnummer</mat-label>
            <input id="postalCode" formControlName="postalCode" matInput placeholder="Placeholder">
          </mat-form-field>
          <mat-form-field disabled appearance="outline">
            <mat-label>By</mat-label>
            <input id="city" formControlName="city" matInput placeholder="Placeholder">
          </mat-form-field>
          <mat-form-field disabled appearance="outline">
            <mat-label>Telefon</mat-label>
            <input id="phoneNumber" formControlName="phoneNumber" matInput placeholder="Placeholder" >
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Levering</ng-template>
        <p>Vælg pris....</p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Bekræft din ordre</ng-template>
        <p>You are now done.</p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
          <button mat-raised-button routerLink="/confirm" style="width:80%; background:#305a66; color:white; margin-left:10%;margin-top:5px;">Bekræft din ordre</button>
        </div>
      </mat-step>
    </mat-stepper>
  </div>
  <div class="hidden md:inline md:col-4 lg:col-4">
    <mat-card>
      Indkøbskurv
    </mat-card>
  </div>
</div>