<div class="grid" style="margin-top:15px;">
  <div class="col-11 col-offset-1 md:col-8 md:col-offset-2 lg:col-6 lg:col-offset-3">
    <p-panel>
      <div *ngIf="product">
        <div class='grid'>
          <div class="col-12 md:col-6 lg:col-6">
            <p-galleria [value]="product.images" [showIndicators]="true" [showThumbnails]="false" [numVisible]="5">
              <ng-template pTemplate="item" let-item>
                  <img style="width:100%;height:300px;object-fit:scale-down;" src="{{serverUrl}}resources/images/{{item.path}}"/>
              </ng-template>
              <ng-template pTemplate="thumbnail" let-item>
                <div class="p-grid p-nogutter p-justify-center">
                  <img style="width:75px;height:75px;object-fit: cover;" src="{{serverUrl}}resources/images/{{item.path}}"/>
                </div>
              </ng-template>
            </p-galleria>
          </div>
          <div class="col-12 md:col-6 lg:col-6">
            <div class="column">
              <div class="details">
                <h1>{{product.productName}}</h1>
                <div *ngIf="product.productDiscountPrice else otherDiv">
                  <p class="price">{{product.productDiscountPrice}},- <span style="text-decoration: line-through;">{{product.productPrice}}</span> DKK <span style="color:red;">Spar {{product.productPrice-product.productDiscountPrice}},- DKK</span></p>
                </div>
                <ng-template #otherDiv>
                  <p class="price">{{product.productPrice}},- DKK</p>
                </ng-template>
                <p class="description">{{product.productDescription}}</p>
                <div class="columns">
                  <div *ngIf="product.colors.length">
                    <p><mat-button-toggle-group appearance="legacy" [(value)]="colorSelected">
                      <mat-button-toggle *ngFor="let color of product.colors" [value]="color" matTooltip="{{color.title}}" [ngStyle]="{'background':color['colorString']}"></mat-button-toggle>
                    </mat-button-toggle-group></p>
                  </div>
                  <div *ngIf="product.sizes.length">
                    <p><mat-form-field appearance="fill">
                      <mat-label>Størrelse</mat-label>
                      <mat-select [(value)]="sizeSelected">
                        <mat-option *ngFor="let size of product.sizes" [value]="size" >{{size.title}}</mat-option>
                      </mat-select>
                    </mat-form-field></p>
                  </div>
                  <button mat-raised-button (click)="addToCart(product)">Tilføj til kurv</button>
                  <div *ngIf="this.appComponent.profile$ | async as profile" style="float:right;">
                    <button mat-button *ngIf="profile.permissions.includes('Admin')||profile.permissions.includes('CanManageProducts')" routerLink="/admin/products/{{product.id}}" matTooltip="Edit product"><mat-icon>admin_panel_settings</mat-icon></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </p-panel>
  </div>
</div>
