<div *ngIf="product">

  <h2>{{product.productName | uppercase}} Details</h2>
  <div><span>id: </span>{{product.id}}</div>
  <div>
    <label for="product-name">Product name: </label>
    <input id="product-name" [(ngModel)]="product.productName" placeholder="name">
    <button (click)="addToCart(product)">Tilføj til kurv</button>

    <mat-form-field appearance="fill">
      <mat-label>Edit categories</mat-label>
      <mat-select [(ngModel)]="product.categories" [formControl]="categories_" multiple [compareWith]="compareWithFunc">
        <mat-option *ngFor="let category of categories" [value]="category" >{{category.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Edit colors</mat-label>
      <mat-select [(ngModel)]="product.colors" [formControl]="colors_" multiple [compareWith]="compareWithFunc">
        <mat-option *ngFor="let color of colors" [value]="color" >{{color.title}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Edit sizes</mat-label>
      <mat-select [(ngModel)]="product.sizes" [formControl]="sizes_" multiple [compareWith]="compareWithFunc">
        <mat-option *ngFor="let size of sizes" [value]="size" >{{size.title}}</mat-option>
      </mat-select>
    </mat-form-field>
    <button (click)="update()">Update</button>
  </div>

</div>
<button (click)="goBack()">go back</button>
