/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.grid{width:99%;}


.megamenu {
  min-width:100% !important;
  position:fixed;
  left:0px;
  top:64px;
  padding-left:10px;
}

@media only screen and (max-width: 600px) {
  .megamenu {
    top:56px;
  }
}

.megamenu-item{
  width:100px !important;
  display:inline !important;
  text-align:center !important;
}

.example-spacer {
  flex: 1 1 auto;
}